body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
}

header {
    background-color: rgba(19, 21, 21, 0.9);
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: #ddf0ef;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #d0aaeb;
}

main {
    padding: 80px 20px 20px;
    max-width: 800px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section {
    padding: 20px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile-pic {
    width: 5cm;
    height: 5cm;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

h1, h2 {
    color: #6a0dad;
}

.project {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}
